os: linux

language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  
env:
  - SYMFONY_VERSION=4.4
  - SYMFONY_VERSION=5.0
  - SYMFONY_VERSION=5.1
  - SYMFONY_VERSION=5.2

jobs:
  allow_failures:
    - php: 7.0

script:
  - composer create-project symfony/skeleton:"^${SYMFONY_VERSION}" build
  - rm -rf build/var build/vendor

before_deploy:
  - tar -zcf symfony-skeleton-PHP${TRAVIS_PHP_VERSION}.tar.gz build

deploy:
  provider: releases
  name: "Symfony Skeleton"
  prerelease: true
  release_notes: "This is a pre-release of Symfony Skeleton with auto-build"
  token: ${YOUR_API_KEY}
  file: symfony-skeleton-PHP${TRAVIS_PHP_VERSION}.tar.gz
  overwrite: true
  skip_cleanup: true
  draft: true
