os: linux

language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0

jobs:
  allow_failures:
    - php: 7.0

script:
  - composer create-project symfony/skeleton build --no-scripts --no-install
  - ls -la ./build

before_deploy:
  - tar -zcf symfony-skeleton-PHP${TRAVIS_PHP_VERSION}.tar.gz build

deploy:
  provider: releases
  name: "Symfony Skeleton"
  prerelease: true
  release_notes: "This is a pre-release of Symfony Skeleton with auto-build"
  token: ${YOUR_API_KEY}
  file: symfony-skeleton-PHP${TRAVIS_PHP_VERSION}.tar.gz
  overwrite: true
  skip_cleanup: true
  draft: true
